<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script defer src="js/script.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{content}}</p>

            <form>
                <input type="text" placeholder="Location" id="location" name="location" required>
                <button>Search</button>
            </form>

            <p id="message-one"></p>
            <p id="message-two"></p>

            <img id="weather-img" src="" alt="" />
        </div>
        {{>footer}}
    </body>
</html> 